<div>


<!--Lateral menu if needed-->
<!--<ng-include src="'views/partials/lateralMenu.html'"></ng-include>-->

<!--Error messages if needed-->
<!---->

<!--Top bar if needed-->
<!---->
<!--<ng-include src="'views/partials/topBar.html'"></ng-include>-->


  <!--The content-->
  <div>
    <ng-view></ng-view>
  </div>
  <!---->

</div>
